# Пример файла конфигурации.
# Перед запуском замените значения или установите переменные окружения.
bot.name=(ИМЯ ВАШЕГО БОТА)
bot.token=${BOT_TOKEN}
bot.allowed-users=${ALLOWED_USERS}

rss.urls=... (ваш список RSS)

logging.file.name=logs/bot.log
logging.file.max-size=10MB
logging.file.max-history=7
spring.output.ansi.enabled=always